.Footer {
  display: flex;
  padding: 10vh 8%;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.FooterLinks {
  display: flex;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  font-size: 0.6em;
}

.FooterLink {
  border-bottom: 1px solid transparent;
  transition: border-color 200ms ease;
  color: #858585;
}

.FooterLink:hover {
  border-bottom-color: rgba(150, 150, 150, 0.31);
}